{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block title %}
Retrieval of Database Annotations
{% endblock %}
{% block head %}
{{ super() }}

    <link rel="icon" href="{{ url_for('static', filename='img/rda.ico') }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="/static/jquery.bootgrid.min.js"></script>
    <link href="/static/jquery.bootgrid.min.css" rel="stylesheet">
    <link href="/static/jquery-ui.min.css" rel="stylesheet">

<link href="/static/jquery-ui.structure.min.css" rel="stylesheet">
<link href="/static/jquery-ui.theme.min.css" rel="stylesheet">

<script src="/static/jquery-ui.min.js"></script>

<script src="/static/jquery.bootgrid.fa.min.js"></script>



{% endblock %}
{% block navbar %}
<body style='font-family: "Microsoft YaHei", "Arial", "Verdana", "Tahoma"'>
<div id="navbar_title" class="navbar navbar-inverse" role="navigation" >
    <div class="container nav-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">Retrieval of Database Annotations</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('about')}}">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       Menu<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action1</a></li>
                        <li><a href="#">Action2</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}

{% block content %}


<div class="container">

    {{utils.flashed_messages()}}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
</body>



